body {
  background-color: #e2e0cf;
  color: #333;
}

.container {
  max-width: 800px;
}

.news-list {
  margin-top: 30px;
}

.card {
  background-color: #eee7bf;
  border: 3px solid #000000;
  border-radius: 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.card-img-top {
  object-fit: cover;
  height: 200px;
}

.card-body {
  padding: 20px;
}

.card-title {
  font-size: 24px;
  margin-bottom: 10px;
  font-family: 'Old Standard TT', serif; /* Cambia la fuente aquí */
  font-weight: bold;
}

.card-text {
  font-size: 16px;
  margin-bottom: 20px;
  font-family: 'Old Standard TT', serif; /* Cambia la fuente aquí */
}

.btn-primary {
  background-color: #000000;
  border: none;
}

.btn-primary:hover {
  background-color: #333030;
}